ASIO_CLIENT_ID=0e32.....
ASIO_CLIENT_SECRET=.....
ASIO_BASE_URL=https://openapi.service.auplatform.connectwise.com
ASIO_SCOPE="platform.companies.read platform.devices.read platform.custom_fields_values.read platform.sites.write platform.tickets.update platform.sites.read platform.policies.read platform.dataMapping.read platform.tickets.create platform.asset.read platform.automation.read platform.automation.create platform.policies.create platform.custom_fields_definitions.write platform.tickets.read 
platform.agent.delete platform.policies.delete platform.policies.update platform.custom_fields_values.write platform.custom_fields_definitions.read platform.patching.read platform.agent-token.read platform.agent.read"